.reviews-preview {
  width: 40%;
  margin: 0 auto;
  border-radius: 1px;
  margin-top: 100px;

  .reviews-preview-title {
    text-align: center;

    h1 {
      position: relative;
      font-size: 2vw;
      padding-bottom: 10px;
      opacity: 0.8;

      &:after {
        position: absolute;
        content: "";
        height: 2px;
        background-color: rgb(202,216,216);
        width: 30%;
        margin-left: 15px;
        bottom: 0;
        right: 33%;
      } 
    }
  }
}

@media screen and (max-width: 1440px) {
  .reviews-preview  {
    width: 50%;

    .reviews-preview-title {
      h1 {
        font-size: 3vw;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .reviews-preview  {
    width: 60%;

    .reviews-preview-title {
      h1 {
        font-size: 4vw;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .reviews-preview {
    width: 70%;

    .reviews-preview-title {
      h1 {
        font-size: 30px;
      }
    }
  }
}



